.table-data {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  font-family: system-ui, sans-serif;
}

.table-data th,
.table-data td {
  border: 1px solid #000;
  padding: 0.5rem 0.75rem;
}

.table-data td {
  text-align: right;
}

.table-data th {
  cursor: "pointer";
  background-color: #f2f2f2; /* light gray header */
  text-align: center;
}

.table-data tr:nth-child(even) {
  background-color: #fff8e1; /* subtle cream */
}

.table-data tr:hover {
  background-color: #f5f5f5; /* soft hover effect */
}

.table-data td.left-align {
  text-align: left;
}